<% include partials/header %>
</div>
    
<div id="landing-header">
	<h1>Welcome to YelpCamp!</h1>
	<p>It's yelp!  For Camp Sites!</p>
	<a href="/CampSites" class="btn btn-lg btn-success">View All Campgrounds</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div>
<% include partials/footer %>